* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color: black;
}


/*NAVIGATION BAR*/
.hidden{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    color: white;
}
/*Dropdown Menu*/

.hamburger{
    display: none;
    color: black;
    
}

nav ul{
    display: flex;
}
nav ul a{
    color: white;
    list-style: none;
    text-decoration: none;
}
nav ul a li {
    margin-left: 15px;
    
}
nav ul a li:hover{
    color: turquoise;
}


@media only screen and (max-width: 650px) {
nav ul{
    position: fixed;
    text-align: center;
    top: 50px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0,0,0,0.05);
    right: 10px;

}

nav ul li{
    padding:15px 0px 15px 0px;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
}
nav ul li:hover {
    color:turquoise;
}
.hamburger{
    display: block;
    color: white;
}

}