@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
}

/*NAVIGATION BAR*/
h1 {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
  color: white;
  background-color: black;
}

.hamburger {
  display: none;
}

.close {
  position: absolute;
  color: black;
  top: 1.49rem;
  right: 1.134rem;
  display: none;
  z-index: 2;
}

.navList {
  display: flex;
}

nav ul a li {
  margin-left: 15px;
  list-style: none;
  color: white;
}

nav ul a li:hover {
  color: turquoise;
}

@media only screen and (max-width: 750px) {
  .hamburger {
    display: block;
  }

  .navList {
    clip-path: circle(0% at 96.5% 4%);
    opacity: 0.6;
    position: absolute;
    background: turquoise;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s cubic-bezier(0.23, 0.93, 0.23, 0.93);
    z-index: 1;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  nav ul a li {
    padding: 1rem 1rem;
  }

  nav ul a {
    font-size: 1.5rem;
    color: white;
  }
}

nav li {
  animation: animateIn 360ms ease-in-out calc(var(--animation-order) * 100ms)
    both;
}

.active {
  clip-path: circle(140% at 96.5% 4%);
  transition: all 0.7s cubic-bezier(0.23, 0.93, 0.23, 0.93);
  opacity: 100%;
}

.reverse_anim {
  clip-path: circle(0% at 96.5% 4%);
  opacity: 0.6;
  transition: all 0.4s cubic-bezier(0.23, 0.93, 0.23, 0.93);
}
.show {
  display: block;
}

/*ABOUT ME SECTION*/
div h2 {
  display: flex;
  justify-content: center;
}
div h2 span:hover {
  color: turquoise;
}

.aboutMeSection {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.ml11 {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  padding: 50px;
}
#introParagraph {
  font-weight: 700;
}
.text {
  margin-bottom: 50px;
}

/*PROJECTS BUTTON STYLING*/

#projectBtn {
  text-align: center;
  border: 1px solid black;
  padding: 7px;
  color: black;
}
#projectBtn a {
  text-decoration: none !important;
}

#projectBtn:hover {
  background-color: transparent;
  font-weight: 900;
  letter-spacing: 1px;
}

/*PROJECTS (HOMEPAGE)*/
#frontEndApp {
  background-image: url(/photos/codescreenshot.png);
  background-size: cover;
}
#uxuiCaseStudies {
  background-image: url(/photos/uxpic.png);
  background-size: cover;
}

#projectsTitle {
  text-align: center;
  margin-bottom: 20px;
}

#projects .projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
  margin: auto;
}
#projects .projectContainer .projectGroup {
  width: 400px;
  height: 400px;
  background-color: gray;
  margin: 20px;
}
#projects .projectContainer .projectGroup:hover {
  transform: scale3d(1.1);
}
#projects .projectContainer .projectGroup a {
  text-decoration: none;
}
#projects .projectContainer .projectGroup p {
  font-family: "Bubblegum Sans", cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-weight: bold;
  font-size: 25px;
  color: turquoise;
  margin: auto;

  margin-top: 170px;
  width: 90%;
}

/* FRONTEND POROJECTS PAGE */
#frontEndBody {
  background-color: #e6e6e6;
}
.backBtn a i {
  text-decoration: none;
  color: black;
  margin: 20px;
}

#projectPageTitle {
  text-align: center;
  font-size: 50px;
  margin: 100px;
}

.projectPageContainer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}
.projectItem {
  max-width: 400px;
  height: auto;
  margin: 5px;
  flex-basis: 33.3%;
}
figure,
figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

figcaption a {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  width: 120px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-decoration: none;
}
figcaption a:hover {
  color: black;
}
/*PHONE SCREEN*/

@media only screen and(max-width: 400px) {
  #projectPageTitle {
    text-align: center;
    font-size: 40px;
    margin: 50px;
  }
}

/*CONTACT ME SECTION*/
#contactMe {
  border-top: 1px solid white;
  width: 500px;
  margin: auto;
  margin-top: 70px;

  color: black;
}
#ConnectWithMeTitle {
  padding-top: 25px;
}
.socialMediaIcons {
  text-align: center;
  padding: 100px 0px;
}
.socialMediaIcons a {
  color: black;
  margin: 20px;
}
.socialMediaIcons a:hover {
  color: turquoise;
  text-decoration: none;
}
footer {
  justify-content: center;
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
}
/*PHONE SCREEN*/
@media only screen and (max-width: 750px) {
  #contactMe {
    width: 300px;
  }
  .socialMediaIcons {
    display: flex;
    flex-direction: column;
  }
}

/*SKATERWAY CASE STUDY*/
#body {
  background-image: url("/photos/backround.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#body .backBtn {
  background-color: white;
}
#body .backBtn i {
  color: black;
  padding: 20px;
}

#sw1 img,
#sw2 img {
  max-width: 100%;
  height: auto;
}
#sw2 img {
  margin-top: 500px;
}
